workflow/HR Assistant.json
{
  "name": "HR Assistant – Incoming CV",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1472,
        -368
      ],
      "id": "f774e568-fd53-410b-8677-049dce62c009",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "name",
              "description": "Полное имя кандидата",
              "required": true
            },
            {
              "name": "position",
              "description": "Позиция",
              "required": true
            },
            {
              "name": "skills",
              "description": "Навыки",
              "required": true
            },
            {
              "name": "experience",
              "description": "Опыт",
              "required": true
            },
            {
              "name": "level",
              "description": "Уровень",
              "required": true
            },
            {
              "name": "city",
              "description": "Город",
              "required": true
            },
            {
              "name": "country",
              "description": "Страна",
              "required": true
            },
            {
              "name": "salary",
              "description": "Заработная плата",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Извлеки из текста резюме информацию о кандидате.\n\nВерни:\n- имя кандидата\n- желаемую позицию\n- ключевые навыки\n- опыт работы\n- уровень (Junior / Middle / Senior)\n- город\n- страну\n- ожидаемую зарплату\n\nЕсли каких-то данных нет — верни пустую строку.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -880,
        -576
      ],
      "id": "5a9d615b-195e-46c1-a3f1-6b58a0b586ef",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -992,
        -112
      ],
      "id": "6b458d46-2428-485c-8902-3be6f555b2e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F9UsU0hiranpIoXE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        -160
      ],
      "id": "1b7439c7-0600-4318-9e5a-5bd22f5604e3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "F9UsU0hiranpIoXE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        -352
      ],
      "id": "9e10ffec-6e33-4b37-a5c1-04f806bc0847",
      "name": "Получение сообщения из почты",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3vBdKcjGogJ2QdY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Используй входные данные кандидата, полученные из Information Extractor,\nа также список вакансий из Google Sheets.\n\nВыполни анализ соответствия кандидата вакансиям\nи верни решение в требуемом структурированном формате.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — AI HR-ассистент компании.\n\nНа вход ты получаешь:\n- структурированные данные кандидата\n- список вакансий из Google Sheets\n\nТвоя задача:\n1. Проверить, есть ли подходящая вакансия.\n2. Сравнить:\n   - позицию\n   - навыки\n   - опыт\n   - уровень\n   - зарплатные ожидания\n3. Принять решение:\n   - принять кандидата\n   - или отказать\n\nЕсли подходящая вакансия найдена:\n- укажи позицию\n- обоснуй matching\n\nЕсли нет:\n- обоснуй отказ\n\nОтвет возвращай строго в структурированном виде.\n\nФормат ответа:\nВерни результат строго в формате JSON,\nсоответствующем схеме Structured Output Parser.\nНикакого текста вне JSON.",
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -608,
        -336
      ],
      "id": "130b416a-8bb7-476e-a8c3-f03822e27930",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Вакансии",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -512,
        0
      ],
      "id": "c528759c-ab15-4f28-98a9-9084e518ad7e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4PVtHKP4S6OwfNKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"match_found\": {\n      \"type\": \"boolean\",\n      \"description\": \"Найдена ли подходящая вакансия\"\n    },\n    \"matched_position\": {\n      \"type\": \"string\",\n      \"description\": \"Название подходящей вакансии\"\n    },\n    \"match_reason\": {\n      \"type\": \"string\",\n      \"description\": \"Обоснование matching\"\n    },\n    \"decision\": {\n      \"type\": \"string\",\n      \"description\": \"Решение по кандидату: accept или reject\"\n    }\n  },\n  \"required\": [\n    \"match_found\",\n    \"matched_position\",\n    \"match_reason\",\n    \"decision\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        -128
      ],
      "id": "6b9c28ff-e84f-481f-9c3c-5ac939b3831a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2137370520,
          "mode": "list",
          "cachedResultName": "Кандидаты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit#gid=2137370520"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Имя кандидата": "={{ $('Information Extractor').item.json.output.name }}",
            "Позиция": "={{ $('Information Extractor').item.json.output.position }}",
            "Навыки": "={{ $('Information Extractor').item.json.output.skills }}",
            "Опыт": "={{ $('Information Extractor').item.json.output.experience }}",
            "Город": "={{ $('Information Extractor').item.json.output.city }}",
            "Уровень": "={{ $('Information Extractor').item.json.output.level }}",
            "Страна": "={{ $('Information Extractor').item.json.output.country }}",
            "Заработная плата": "={{ $('Information Extractor').item.json.output.salary }}",
            "Результат matching": "={{ $('AI Agent').item.json.output.match_reason }}",
            "sender_email": "={{ $('Получение сообщения из почты').item.json.from.value[0].address }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Имя кандидата",
              "displayName": "Имя кандидата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Позиция",
              "displayName": "Позиция",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Навыки",
              "displayName": "Навыки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Опыт",
              "displayName": "Опыт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Уровень",
              "displayName": "Уровень",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Город",
              "displayName": "Город",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Страна",
              "displayName": "Страна",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Заработная плата",
              "displayName": "Заработная плата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Результат matching",
              "displayName": "Результат matching",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        -576
      ],
      "id": "f43ec901-eef9-4f36-adff-0c472f3a781d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4PVtHKP4S6OwfNKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "87b83958-5678-484f-b753-b6bedce4e7f0",
              "leftValue": "={{ $json.output.decision }}",
              "rightValue": "accept",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -208
      ],
      "id": "60e67ea4-79c3-4972-8e66-ca2a7552702d",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Получение сообщения из почты').item.json.headers.from }}",
        "subject": "Результат рассмотрения вашего резюме",
        "message": "Здравствуйте!  Спасибо за отклик и отправленное резюме. Мы ознакомились с вашей кандидатурой и готовы продолжить общение.  В ближайшее время с вами свяжется наш HR-специалист.  С уважением, HR-команда",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        -320
      ],
      "id": "9af94dd3-4344-431e-99ea-de56983ad786",
      "name": "Send a message",
      "webhookId": "fa537f8c-6ec3-4766-b37c-6c9bb09f166d",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3vBdKcjGogJ2QdY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Получение сообщения из почты').item.json.headers.from }}",
        "subject": "Результат рассмотрения вашего резюме",
        "message": "Здравствуйте!  Благодарим вас за интерес к нашей компании и отправленное резюме. К сожалению, на данный момент мы не готовы продолжить сотрудничество.  Мы сохраним ваше резюме и вернёмся к нему при появлении подходящих вакансий.  С уважением, HR-команда",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        -96
      ],
      "id": "7b066444-6fa9-467d-8dc1-100456a7f990",
      "name": "Send a message1",
      "webhookId": "fa537f8c-6ec3-4766-b37c-6c9bb09f166d",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3vBdKcjGogJ2QdY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Получение сообщения из почты').item.json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        -224
      ],
      "id": "9dbac730-298e-4c33-9e3c-b9f79aaeb0df",
      "name": "Add label to message",
      "webhookId": "fb419a4e-de10-4a96-a4ee-2c8b4de52954",
      "credentials": {
        "gmailOAuth2": {
          "id": "O3vBdKcjGogJ2QdY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit?gid=2137370520#gid=2137370520",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2137370520,
          "mode": "list",
          "cachedResultName": "Кандидаты",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-JOp_zaaBCjCpVZp4dNCdca8Yd4ADRhmO21oO1oARF0/edit#gid=2137370520"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sender_email",
              "lookupValue": "={{ $('Получение сообщения из почты').item.json.replyTo.value[0].address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1328,
        -528
      ],
      "id": "62a20d90-1421-47fc-8e86-ffd5a6646a3c",
      "name": "Check duplicate by email",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4PVtHKP4S6OwfNKB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd9e9e9b-c6aa-400b-83b8-51401ad9f397",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "=0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        -704
      ],
      "id": "634b5f07-dc59-4dc3-8588-352978613bf5",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "errorMessage": "Адрес дублируется в таблице"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -864,
        -816
      ],
      "id": "eb647466-579f-4519-aafa-47f027e0109c",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Check duplicate by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Получение сообщения из почты": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check duplicate by email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b092d46-0263-40ed-9fbd-56e176952227",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e6de40f665129d28fc3e9fcdc76bcf84c0164baa69f4f217bf3c645434919e5"
  },
  "id": "KRn13sqUiM9p7K54",
  "tags": []
}